<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  

	<title>Dashboard</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:2px; word-wrap:break-word; }
	</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://blacklabel.github.io/indicators/js/rsi.js"></script>

<script>





$(document).ready(function(){

 
	var username='jehill'
    var socket=io.connect('http://127.0.0.1:3000');
    var chart=null;
	$("#savePortfolio").hide()
	$("#addStock").hide()
	$("#removeStock").hide()
	$("#stockesGroup").hide()
	var counter = 2;

	//on start up
	socket.on('portofolio_list', function(portfolios){

		alert(portfolios);	

		var s=document.getElementById("portfolioList");
    for (var i=0;i<portfolios.length();i++){    
         $('<option />', {value:portfolio[i] , text: portfolioName}).appendTo(s);   
         }
	});

	socket.on('portfolio_add', function(portfolioName){


         //add the recieved portofolio to the list
         var s=document.getElementById("portfolioList");
         $('<option />', {value:portfolioName , text: portfolioName}).appendTo(s);   
    });

  

	$("#addPortfolio").click(function(){

	$("#savePortfolio").show()
	$("#addStock").show()
	$("#removeStock").show()
	$("#stockesGroup").show()
	});


  $("#addStock").click(function () {
		if(counter>10){
            alert("Only 10 stockes allow");
            return false;
			}

		var newstockDiv = $(document.createElement('div')).attr("id", 'stockDiv' + counter);

		var label1='<label>Ticker #'+ counter + ' : </label>' +
	      '<input type="text" name="stock' + counter +
	      '" id="stock' + counter + '" value="" >' 

		var label2='<label>Dollar value #'+ counter + ' : </label>' +
	      '<input type="number" name="value' + counter +
	      '" id="value' + counter + '" value="" >';
       	
    	newstockDiv.after().html(label1 + label2);

    	newstockDiv.appendTo("#stockesGroup");
		counter++;
     });

     $("#removeStock").click(function () {
		if(counter==1){
          alert("No more stocks to remove");
          return false;
       	}
		counter--;
        $("#stockDiv" + counter).remove();

     });

     $("#savePortfolio").click(function () {

		var tickers = [];
		var weight= [];
		var total_value=0;
		for(i=1; i<counter; i++){

	  	var ticker=$('#stock' + i).val()
	  	tickers.push(ticker);

	  	var value= $('#value' + i).val()
 		weight.push( $('#value' + i).val());
   	  	
   	  	total_value= total_value + parseFloat( $('#value' + i).val());  
   	  	//need to check how to use number during form validation
   		
		 }


		var weights=[]
		var sum;
		for(var i=0;i<weight.length;i++) {
			weights.push(weight[i]/total_value)
			sum=sum+parseFloat(weight[i]);
		}

		var portfolioName=document.getElementById("portfolioName").value;
		alert(portfolioName)


		portfolio={ 'tickers' : tickers, 
    	           'weights': weights,
    	           'user':  username,
    	           'portfolioname': portfolioName
    	          }


    	//add a small delay to collect all the information before sending to server          
    	setTimeout(function() {


 		 
 		 socket.emit('portfolio', portfolio)
    	 alert('Portfolios created send to server with total weights:' + sum)



			
		}, 500);
           

    //now rest may be add delay
   	$("#savePortfolio").hide()
	  $("#addStock").hide()
	  $("#removeStock").hide()
	  $("#stockesGroup").hide()
	    counter = 2;  //reset the counter to two

});





  

  });//document ready

</script>
</head>
<body>

  <%include navigation.ejs%>

	<footer> 

  <p>Complete following form to add a new portfolio.</p><br>
  <p>Note only securities listed on the IEX exchange are currently supported</p><br>

  Portfolio Name: <input type="text" id="portfolioName" value="e.g. Portfolio 1">
  <input type='button' value='Submit' class="btn btn-default" id='addPortfolio'>
  <br>


  <footer>	
	
	<div id='stockesGroup'>
		<div id="stockDiv1">
		<label>Ticker #1: </label><input type='text' name='stock0' id='stock1' >
		<label>Dollar Value #1: </label><input type='number' name='value0' id='value1' >	
		<input type='button' class="btn btn-default" value='Add Stock' id='addStock'>
		<input type='button' class="btn btn-default" value='Remove Stock' id='removeStock'>
		<input type='button' class="btn btn-default" value='Save' id='savePortfolio'>
  	</div>	
  </div>
</div>

</body>
</html>
