<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
	       { padding-top:100px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Welcome to Risk Analytics</h1>

            <p>This website provides tools to analyze your investment porfolios</p>

            <p>Please Login or Register</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
            


        </div>
    </div>

    <div>
    <footer>
    <p> Risk analytics does not hold itself out as a Commodity Trading Advisor (“CTA”) and all information and material provided should not be considered specific investment advice. The information that we provide or that is derived from our website should not be a substitute for advice from an investment professional. We will not accept any liablity any for loss/profit occured as result of any inidividual trading decisions. </p>
    </footer>
    </div>

</body>


</html>