<div class="container">

	<div class="page-header text-centre">
	<a> <strong><%= user.username %>'s </strong>   </a>
    <a href="/dashboard" class="btn btn-default">Risk Dashboard</a>
    <a href="/addPortfolio" class="btn btn-default">Portfolio</a>
    <a href="/optimiser" class="btn btn-default">Portfolio Optimiser</a>
    <a href="/order" class="btn btn-default">Order</a>
    <a href="/news" class="btn btn-default">News</a>
    <a href="/logout" class="btn btn-default">Logout</a>


</div>

