<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  

	<title>URL Shortner</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:2px; word-wrap:break-word; }
	</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>

// this can go in a separate code file too. 

$(document).ready(function(){

 

});//document ready

</script>


</head>
<body>

  	<footer>

  	
  	
		
	<footer>	

</div>





</body>
</html>
